:root {
  --basic-black:#323232;
  --basic-dark: #5A5A5A;
  --basic-white: #FFFFFF;
  --background-beige: #9D8B84;
  --background-grey: #8996A6;
  --background-green: #849D8F;
  --link-active: #FFBC9E;
  --link-hover: #FFBC9E;
  --raspberry-background: #900035;
  --chocolate-background: #4A2106;
  --waffle-background: #E3D0B9;
  --button-orange: #F26843;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
}

.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}


.wrapper {
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
	box-sizing: border-box;
}

.page-body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	background-color: var(--background-beige);
	color: var(--basic-white);
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.main-header__wrapper {
	display: flex;
	flex-direction: column;

}

.main-header__navigation{
	display: flex;
	align-items: center;
}

.main-header__logo {
	padding-right: 24px;
	padding-top: 9px; 
}

.main-header__bar {
 display: flex;
 align-items: center;
 width: 100%;
}



.main-header__site-navigation {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
}

.main-header__site-navigation-text {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-header__site-navigation-item {
	padding: 0 16px;
}

.main-header__site-navigation-link {
	display: block;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
	text-decoration: none;
	padding: 15px 0px;


}
.main-header__user-navigation-button {
	display: flex;
	align-items: center;
	border: none; 
	outline: none; 
	background-color: transparent;
	color: var(--basic-white);
}

.main-header__button-text {
	margin-left: 8px;
	font-size: 14px;
	font-weight: 500;
}

.search-button::before {
	content: "";
	width: 20px;
	height: 19px;
	background-image: url("../img/icons/loupe_icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	display: block;
}


.enter-button::before {
	content: "";
	width: 20px;
	height: 19px;
	background-image: url("../img/icons/enter_icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	display: block;

}

.cart-button::before {
	content: "";
	width: 20px;
	height: 19px;
	background-image: url("../img/icons/shopping-cart_icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	display: block;
}


.cart-button-full::before {
	content: "";
	width: 20px;
	height: 19px;
	background-image: url("../img/icons/catalog-icons/shopping-cart-red.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	display: block;
}

.main-header__site-navigation-item:first-child {
	padding-left: 0;
}

.main-header__user-navigation {
	display: flex;
	list-style: none;
	margin-left: auto;
}

.main-header__user-navigation-item {
	padding: 10px;
}

.main-header__description {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: var(--basic-white);
	margin-left: auto;

}

.main-header__phone {
	font-weight: bold;
	font-size: 22px;
	line-height: 24px;
	text-decoration: none;
	color: var(--basic-white);
}

.slider {
	position: relative;
}

.slider__list {
	list-style: none;
	height: 540px;
}

.slider__item {
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider__item.slider__hidden {
	display: none;
}


.slider__item-description {
	max-width: 650px;
	text-align: center;
	margin-bottom: 26px;
	margin-top: auto;
	font-weight: bold;
	font-size: 60px;
	line-height: 60px;
}

.slider__item-image {
	position: absolute;
	z-index: -1;
	bottom: -20px;
}

.slider__item-link {
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 32px;
	line-height: 44px;
	text-decoration: none;
	color: var(--basic-white);
}

.actions{
	margin-bottom: 40px;
}

.actions__background-raspberries {
	width: 560px;
	height: 229px;
	background-image: url(../img/background/raspberry-background.jpg);
	border-radius: 16px;
	background-color: var(--raspberry-background);
}

.actions__background-chocolates {
	width: 560px;
	height: 229px;
	background-image: url(../img/background/chocolate-background.jpg);
	border-radius: 16px;
	background-color: var(--chocolate-background);
}


.actions__list {
	list-style: none;
	display: grid;
	grid-template-columns: 560px 560px;
	padding-left: 0;
	gap: 26px;
}

.actions__item-title {
	font-weight: bold;
	font-size: 35px;
	line-height: 41px;
	padding-bottom: 16px;
}

.actions__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px;
}

.actions__description {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	padding-right: 14px;
}

.actions__link {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
	text-decoration: none;
	margin-top: auto;
	margin-left: auto;

}


.catalog {
	margin-bottom: 40px;
}

.catalog__list {
	list-style: none;
	display: grid;
	grid-template-columns: 267px 267px 267px 267px;
	padding-left: 0;
	margin: 0px;
	gap: 26px;
}

.product__link {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-decoration: none;
	color: var(--basic-white);
}

.product__price {
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
	margin: 0;
}

.advantages {
	padding: 24px 20px;
	margin-bottom: 40px;
}


.advantages__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	gap: 27px;
}


.advantages__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 49px;
	height: 49px;
	border: 1px solid var(--basic-black);
	border-radius: 50%;
	flex-shrink: 0;
	order: -1;
	margin-right: 6px;
}

.advantages__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-black);
	margin: 0 0 10px 0;
}

.advantages__item {
	display: flex;
}

.advantages__background-waffle {
	width: 1146px;
	height: 306px;
	background-image: url(../img/background/waffle-background.jpg);
	background-repeat: no-repeat;
	border-radius: 16px;
	background-color: var(--waffle-background);
}

.advantages__description {
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-black);
}

.row {
	list-style: none;
	display: grid;
	grid-template-columns: 560px 560px;
	padding-left: 0;
	margin-bottom: 40px;
	gap: 26px;
}

.blog {
	width: 560px;
	height: 220px;
	background-image: url(../img/background/strawberry-background.png);
	border-radius: 16px;
	background-color: var(--basic-white);
	padding-top: 23px;
	padding-right: 253px;
	padding-left: 20px;
}

.blog__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-black);
}

.blog__link {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-black);
}



.subscription__background-color {
	height: 100%;
	background-color: var(--basic-white);
	border-radius: 16px;
	padding-top: 29px;
	padding-left: 20px;
	padding-bottom: 35px;
	padding-right: 16px;
	box-sizing: border-box;
}

.subscription {
	width: 560px;
	height: 220px;
	background-image: url(../img/background/subscription-background.jpg);
	border-radius: 16px;
	padding: 5px;
	box-sizing: border-box;
}


.subscription__description {
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-dark);
	padding-bottom: 47px;
}

.subscription__form {
	display: flex;
}

.subscription__button {
	margin-left: 10px;
}

.email {
	width: 368px;
	height: 44px;
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 6px;
	font-size: 16px;
	padding: 10px 14px;
}


.button {
	font-weight: bold;
	color: var(--basic-white);
	background-color: var(--button-orange);
	border-radius: 70px;
	border: none;
	display: inline-block;
	cursor: pointer;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background: linear-gradient(to bottom, #f26843, #e74a35);
	text-align: center;
	vertical-align: top;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.button--font-large {
	font-size: 31px;
	line-height: 41px;
	padding: 12px 44px;
}


.button--font-medium {
	font-size: 18px;
	line-height: 24px;
	padding: 12px 22px;
}

.button--font-small {
	font-size: 18px;
	line-height: 24px;
	padding: 10px 19px;
}

.button--font-very-small  {
	font-size: 18px;
	line-height: 24px;
	padding: 8px 28px;

}

.adress__wrapper {
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.address {
	width: 100%;
	height: 430px;
	background-image: url(../img/map.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	margin-bottom: 18px;
}

.address__description {	

	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: var(--basic-black);
}


.adress__adress {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-black);
	font-style: normal;
	padding-bottom: 30px;
}

.address__description-time {
	padding-bottom: 11px;
}

.address__phone {
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-black);

}

.address__info {

	background-color: var(--basic-white);
	width: 303px;
	height: 306px;
	border-radius: 16px;
	padding: 32px 25px 31px 25px;
}


.socials {
	list-style: none;
}

.page-footer__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

}


.page-footer__column-socials {
	display: flex;
}

.socials__item {
	padding: 12px;
}

.footer-nav {
	display: flex;
	list-style: none;
	width: 330px;
	flex-wrap: wrap;
}

.footer-nav__link {
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-white);
	text-decoration: none;
}

.footer-nav__item {
	width: 50%;
}

.pagination-list {
	display: flex;
	justify-content: flex-end;
}

.pagination-list__link{
	padding: 10px;
}

.link:hover {
	color: var(--link-hover);
}

.link:active {
	color: var(--link-active);
}

.inner-page {
	background-color: var(--background-green);
}

.pagination-list {
	list-style: none;
}

.pagination-list__link {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
	text-decoration: none;
}

.pagination-list__current-page {
	color: var(--basic-black);
}

.breadcrumbs {
	display: flex;
	list-style: none;

}

.breadcrumbs__link {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: var(--basic-white);
	text-decoration: none;
	margin-right: 8px;
}

.breadcrumbs__item:not(:last-child)::after {
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	background-image: url("../img/icons/catalog-icons/double-arrow.svg");
	margin-right: 8px;
}

.catalog__title {
	font-weight: bold;
	font-size: 35px;
	line-height: 41px;
}

.filter {
	display: flex;
	max-width: 870px;
	flex-wrap: wrap;
	margin-bottom: 40px

}


.filter__fieldset {
	border: none;
	margin-bottom: 14px
}

.filter__title {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.filter__option {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
}

.filter__radio {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
}

.filter__checkbox {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
}

.filter__submit {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
}

.link-academy {
	text-decoration: none;
	color: var(--basic-white);
}

.page {
	height: 100%;
}


