:root {
  --basic-black:#323232;
  --basic-dark: #5A5A5A;
  --basic-white: #FFFFFF;
  --background-beige: #9D8B84;
  --background-grey: #8996A6;
  --background-green: #849D8F;
  --link-active: #FFBC9E;
  --link-hover: #FFBC9E;
  --raspberry-background: #900035;
  --chocolate-background: #4A2106;
  --waffle-background: #E3D0B9;
  --button-orange: #F26843;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0)
}

.slider__hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0)
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
	box-sizing: border-box;
}

.page-body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	background-color: var(--background-beige);
	color: var(--basic-white);
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.main-header__site-navigation-link {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
	text-decoration: none;
}

.main-header__site-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-header__user-navigation {
	list-style: none;
}

.main-header__description {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: var(--basic-white);
}

.main-header__phone {
	font-weight: bold;
	font-size: 22px;
	line-height: 24px;
	text-decoration: none;
	color: var(--basic-white);
}

.slider__list {
	list-style: none;
}

.slider__item-description {
	font-weight: bold;
	font-size: 60px;
	line-height: 60px;
}

.slider__item-link {
	font-weight: bold;
	font-size: 32px;
	line-height: 44px;
	text-decoration: none;
	color: var(--basic-white);
}

.actions__background-raspberries {
	width: 560px;
	height: 229px;
	background-image: url(../img/background/raspberry-background.jpg);
	border-radius: 16px;
	background-color: var(--raspberry-background);
}

.actions__background-chocolates {
	width: 560px;
	height: 229px;
	background-image: url(../img/background/chocolate-background.jpg);
	border-radius: 16px;
	background-color: var(--chocolate-background);
}


.actions__list {
	list-style: none;
	display: grid;
	grid-template-columns: 560px 560px;
	padding-left: 0;
	gap: 26px;
	margin-button: 40px;
}

.actions__item-title {
	font-weight: bold;
	font-size: 35px;
	line-height: 41px;

}

.actions__description {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
}

.actions__link {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
	text-decoration: none;
}

.catalog__list {
	list-style: none;
	display: grid;
	grid-template-columns: 267px 267px 267px 267px;
	padding-left: 0;
	margin: 0px;
	gap: 26px;
}

.product__link {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-decoration: none;
	color: var(--basic-white);
}

.product__price {
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
	margin: 0;
}

.advantages__list {
	list-style: none;
	padding-left: 0;
	grid-template-columns: 1146px;
	padding-left: 0;
	margin: 0px;
}

.advantages__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-black);
	margin: 0 0 10px 0;
}

.advantages__background-waffle {
	width: 1146px;
	height: 306px;
	background-image: url(../img/background/waffle-background.jpg);
	border-radius: 16px;
	background-color: var(--waffle-background);
}

.advantages__description {
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-black);
}

.row {
	list-style: none;
	display: grid;
	grid-template-columns: 560px 560px;
	padding-left: 0;
	margin: 0px;
	gap: 26px;
}

.blog {
	width: 560px;
	height: 220px;
	background-image: url(../img/background/strawberry-background.png);
	border-radius: 16px;
	background-color: var(--basic-white);
}

.blog__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-black);
}

.blog__link {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-black);
}


.subscription__background-color {
	height: 100%;
	background-color: var(--basic-white);
	border-radius: 16px;
	padding: 5px;
	box-sizing: border-box;
}

.subscription {
	width: 560px;
	height: 220px;
	background-image: url(../img/background/subscription-background.jpg);
	border-radius: 16px;
	padding: 5px;
	box-sizing: border-box;
}


.subscription__description {
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-dark);
}


.button-62 {
	font-weight: bold;
	font-size: 32px;
	line-height: 44px;
	color: var(--basic-white);
	background-color: var(--button-orange);
	height: 62px;
	border-radius: 70px;
	border: none;
	padding: 9px 23px;
}

.button-48 {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
	background-color: var(--button-orange);
	height: 48px;
	border-radius: 70px;
	border: none;
	padding: 9px 23px;
}

.button-44 {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
	background-color: var(--button-orange);
	height: 44px;
	border-radius: 70px;
	border: none;
	padding: 9px 23px;
}

.button-43 {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
	background-color: var(--button-orange);
	height: 43px;
	border-radius: 70px;
	border: none;
	padding: 9px 23px;
}

.address {
	width: 100%;
	height: 430px;
	background-image: url(../img/map.jpg);
}

.address__description {
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: var(--basic-black);
}

.adress__adress {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-black);
	font-style: normal;
}

.address__phone {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-black);
}

.address__info {
	background-color: var(--basic-white);
	width: 303px;
	height: 306px;
	border-radius: 16px;
}


.socials {
	list-style: none;
}

.footer-nav {
	list-style: none;
}

.footer-nav__link {
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-white);
	text-decoration: none;
}

.link:hover {
	color: var(--link-hover);
}

.link:active {
	color: var(--link-active);
}






.inner-page {
	background-color: var(--background-green);
}

.pagination-list {
	list-style: none;
}

.pagination-list__link {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
	text-decoration: none;
}

.pagination-list__current-page {
	color: var(--basic-black);
}

.breadcrumbs {
	list-style: none;
}

.breadcrumbs__link {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: var(--basic-white);
	text-decoration: none;
}

.catalog__title {
	font-weight: bold;
	font-size: 35px;
	line-height: 41px;
}

.filter__title {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.filter__option {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
}

.filter__radio {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
}

.filter__checkbox {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
}

.filter__submit {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
}

.link-academy {
	text-decoration: none;
	color: var(--basic-white);


.page {
	height: 100%;
}

.main-header__navigation {
	display: grid;

}

.main-header__wrapper {
	display: grid;
	grid-template-columns: 1fr min-content;
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}



